ion-content {
    --background: none;
    background-image: url('/assets/icon/estrellas.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ion-list {
    --background: none;
    background-color: rgb(37, 37, 37);
  }